@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,400&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

.wrapper {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container.left {
    width: 200px;
    height: 100%;
    border-right: 1px solid #eee;
}

.container.right {
    overflow-x: hidden;
    overflow-y: auto;
    width: calc(100% - 200px);
    height: 100%;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
}

.list_item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.name_item {
    width: calc(100% - 30px);
    height: 100%;
}

.count {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30px;
    height: 100%;
}

.list_item a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #333;
    text-decoration: none;
}

.user, .product, .purchase {
    font-size: 14px;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
}

.user_item.id{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #eee;
    border-radius: 10px 0 0 10px;
}

.user_item.email{
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    border-right: 2px solid #eee;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
}

.user_item.name {
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    border-right: 2px solid #eee;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
}

.user_btn.action_delete form input, .user_btn.action_edit input {
    cursor: pointer;
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    transition: background-color 0.5s linear;
}

.user_btn.action_edit input {
    border-radius: 0 10px 10px 0;
}

.user_btn.action_delete form input:hover, .user_btn.action_edit input:hover {
    background-color: #ddd;
    transition: background-color 0.5s linear;
}

.user_form {
    font-size: 14px;
    width: 100%;
    display: none;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
}

.user_form_field.id {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 2px solid #2177fc;
    outline: none;
    border-radius: 10px 0 0 10px;
}

.user_form_field.email {
    width: 200px;
    height: 30px;
    text-align: center;
    border:none;
    border-right: 2px solid #2177fc;
    border-top: 2px solid #2177fc;
    border-bottom: 2px solid #2177fc;
    border-radius: 0;
    outline: none;
}

.user_form_field.firstName {
    width: 100px;
    height: 30px;
    text-align: center;
    border:none;
    border-right: 2px solid #2177fc;
    border-top: 2px solid #2177fc;
    border-bottom: 2px solid #2177fc;
    border-radius: 0;
    outline: none;
}

.user_form_field.lastName {
    width: 100px;
    height: 30px;
    text-align: center;
    border:none;
    border-right: 2px solid #2177fc;
    border-top: 2px solid #2177fc;
    border-bottom: 2px solid #2177fc;
    border-radius: 0;
    outline: none;
}

.user_form_btn.action_edit, .user_form_btn.action_close {
    cursor: pointer;
    width: 100px;
    height: 30px;
    border: 2px solid #2177fc;
    outline: none;
    background-color: #2177fc;
    color: #fff;
    transition: border 0.5s linear, background-color 0.5s linear;
}

.user_form_btn.action_close {
    border-radius: 0 10px 10px 0;
}

.user_form_btn.action_edit:hover, .user_form_btn.action_close:hover {
    background-color: #ddd;
    border: 2px solid #ddd;
    transition: border 0.5s linear, background-color 0.5s linear;
}

.product_item {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    outline: none;
}

.product_item.id {
    width: 50px;
    color: #333;
    font-size: 12px;
    border: 2px solid #eee;
}

.product_item.title {
    width: 200px;
    font-size: 12px;
    color: #333;
    border: none;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
}

.product_item.description {
    width: calc((100% - 780px) / 2);
    font-size: 10px;
    color: #333;
    border: none;
    text-align: justify;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
}

.product_item.category {
    width: 150px;
    font-size: 10px;
    color: #333;
    border: none;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
}

.product_item.type {
    width: 150px;
    font-size: 10px;
    color: #333;
    border: none;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
}

.product_item.quantity {
    width: 70px;
    font-size: 12px;
    color: #fff;
    border: none;
    border-right: 2px solid #37bb61;
    border-bottom: 2px solid #37bb61;
    border-top: 2px solid #37bb61;
    background-color: #37bb61;
}

.product_item.quantity.head {
    width: 70px;
    font-size: 12px;
    color: #333;
    border: none;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
    background-color: #fff;
}

.product_item.quantity.null {
    width: 70px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-right: 2px solid #ff0000;
    border-bottom: 2px solid #ff0000;
    border-top: 2px solid #ff0000;
    background-color: #ff0000;
}

.product_item.quantity.first {
    width: 70px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-right: 2px solid #ff4e1b;
    border-bottom: 2px solid #ff4e1b;
    border-top: 2px solid #ff4e1b;
    background-color: #ff4e1b;
}

.product_item.price {
    width: 70px;
    font-size: 12px;
    color: #333;
    border: none;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
}

.product_item.is_active {
    display: flex;
    width: 70px;
    font-size: 12px;
    color: #333;
    border: none;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
}

.product_item.edit {
    width: 30px;
    font-size: 12px;
    color: #333;
    border: none;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
}

.product_item.btn_edit {
    cursor: pointer;
    width: 30px;
    font-size: 12px;
    color: #333;
    border: none;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
    transition: border 0.5s linear, background-color 0.5s linear;
}

.product_item.btn_edit:hover {
    background-color: #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
    transition: border 0.5s linear, background-color 0.5s linear;
}

.product_item.delete {
    width: 30px;
    font-size: 12px;
    color: #333;
    border: none;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
}

.product_item.btn_delete {
    cursor: pointer;
    width: 30px;
    font-size: 12px;
    color: #333;
    border: none;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
    transition: border 0.5s linear, background-color 0.5s linear;
}

.product_item.btn_delete:hover {
    background-color: #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
    transition: border 0.5s linear, background-color 0.5s linear;
}

.product_item.disable {
    width: 30px;
    font-size: 12px;
    color: #333;
    border: none;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
}

.product_item.btn_disable {
    display: flex;
    position: relative;
    cursor: pointer;
    width: 30px;
    font-size: 12px;
    color: #333;
    border: none;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
    transition: border 0.5s linear, background-color 0.5s linear;
}

.product_item.btn_disable:hover {
    background-color: #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
    transition: border 0.5s linear, background-color 0.5s linear;
}

.product_item.btn_un_disable {
    display: flex;
    position: relative;
    cursor: pointer;
    width: 30px;
    font-size: 12px;
    color: #fff;
    border: none;
    border-right: 2px solid #2177fc;
    border-bottom: 2px solid #2177fc;
    border-top: 2px solid #2177fc;
    background-color: #2177fc;
    transition: border 0.5s linear, background-color 0.5s linear;
}

.product_item.btn_un_disable:hover {
    background-color: #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
    transition: border 0.5s linear, background-color 0.5s linear;
}

.form_reader {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.form_writer {
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.product_item.btn_send {
    cursor: pointer;
    width: 30px;
    font-size: 12px;
    color: #333;
    border: none;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
    transition: border 0.5s linear, background-color 0.5s linear;
}

.product_item.btn_send:hover {
    background-color: #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
    transition: border 0.5s linear, background-color 0.5s linear;
}

.product_item.btn_close {
    cursor: pointer;
    width: 30px;
    font-size: 12px;
    color: #333;
    border: none;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
    transition: border 0.5s linear, background-color 0.5s linear;
}

.product_item.btn_close:hover {
    background-color: #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
    transition: border 0.5s linear, background-color 0.5s linear;
}

.product_item.btn_reset {
    cursor: pointer;
    width: 30px;
    font-size: 12px;
    color: #333;
    border: none;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
    transition: border 0.5s linear, background-color 0.5s linear;
}

.product_item.btn_reset:hover {
    background-color: #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
    transition: border 0.5s linear, background-color 0.5s linear;
}

.purchase_item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    height: 50px;
}

.purchase_item.id {
    width: 50px;
    border: 2px solid #eee;
}

.purchase_item.name {
    width: 250px;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
    border-right: 2px solid #eee;
}

.purchase_item.title {
    width: 250px;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
    border-right: 2px solid #eee;
}

.purchase_item.orders {
    width: 100px;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
    border-right: 2px solid #eee;
}

.purchase_item.btn_delete {
    cursor: pointer;
    width: 30px;
    font-size: 12px;
    color: #333;
    border: none;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
    transition: border 0.5s linear, background-color 0.5s linear;
}

.purchase_item.btn_delete:hover {
    background-color: #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
    transition: border 0.5s linear, background-color 0.5s linear;
}

.purchase_item.category {
    width: 150px;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
    border-right: 2px solid #eee;
}

.purchase_item.type {
    width: 200px;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
    border-right: 2px solid #eee;
}

.purchase_item.price {
    width: 150px;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
    border-right: 2px solid #eee;
}

.purchase_item.delete {
    width: 30px;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
    border-right: 2px solid #eee;
}