@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,300;1,400&display=swap");

:root {
    --width_wrapper_form_added: 300px;
    --height_form_container_text: 70px;
    --hard_grey_color: #333;
    --light_grey_color: #ddd;
    --middle_grey_color: #ccc;
    --grey_color: #eee;
    --white_color: #fff;
    --blue_color: #007bff;
    --orange_color: rgb(252, 133, 7);
    --bg_color: #f1f3f9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #333;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100vh;
    padding: 30px;
}

.title_basket {
    cursor: default;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 20px;
}

.title_basket::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #333;
}

.item_image {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    height: 150px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.item_image img {
    width: 90%;
}

.link_to_home {
    text-decoration: none;
    color: #333;
    padding-left: 30px;
    padding-bottom: 30px;
}

.list {
    list-style: none;
    padding-bottom: 30px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.item_title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    font-size: 12px;
    font-style: italic;
    padding: 0 10px;
}

.item_description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 570px);
    font-size: 12px;
    text-align: justify;
}

.item_orders {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    color: var(--orange_color);
}

.item_orders.purchase {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 270px;
    font-size: 20px;
    font-weight: bold;
    color: var(--orange_color);
}

.item_action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
}

.item_action input {
    cursor: pointer;
    width: 100%;
    padding: 0.375rem 0.75rem;
    border-radius: 3px;
    border: 1px solid var(--grey_color);
    background-color: var(--blue_color);
    font-size: 1rem;
    color: var(--white_color);
}

.warning h2{
    font-style: italic;
    font-weight: 400;
    padding-bottom: 30px;
}
