@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,300;1,400&display=swap");

:root {
    --width_wrapper_form_added: 300px;
    --height_form_container_text: 70px;
    --hard_grey_color: #333;
    --light_grey_color: #ddd;
    --middle_grey_color: #ccc;
    --grey_color: #eee;
    --white_color: #fff;
    --blue_color: #007bff;
    --orange_color: rgb(252, 133, 7);
    --bg_color: #f1f3f9;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #333;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

.wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
}

/* HEADER */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid var(--middle_grey_color);
    background-color: var(--grey_color);
}

.header_logo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    padding-left: 30px;
    font-weight: bold;
}

.link_to_home {
    text-decoration: none;
}

.header_registration {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100px;
    height: 100%;
    padding-right: 30px;
}

.user {
    font-size: 12px;
}

.btn_sign_in {
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid var(--hard_grey_color);
    transition: background-color 0.5s linear;
}

.btn_sign_in:hover {
    background-color: var(--light_grey_color);
    transition: background-color 0.5s linear;
}

.header_icon_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
}

.fa-gratipay {
    cursor: pointer;
    font-size: 24px;
    margin-right: 5px;
}

.fa-cart-plus {
    cursor: pointer;
    font-size: 24px;
    margin-left: 5px;
}

.header_search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 300px);
    height: 100%;
    padding: 0 30px;
}

.search {
    position: relative;
    left: 15px;
    width: 100%;
    height: 30px;
    border: 1px solid var(--middle_grey_color);
    border-radius: 3px;
    text-indent: 10px;
}

.search_form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 15px;
    border: none;
    outline: none;
    background-color: var(--white_color);
    z-index: 99999;
}

.fa-search {
    cursor: pointer;
    color: var(--middle_grey_color);
}

/* CONTENT */
.content {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);
    background-color: var(--bg_color);
}

.content_category {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 300px;
    height: 100%;
    padding-top: 30px;
}

.content_output {
    width: calc(100% - 300px);
    height: 100%;
    padding-left: 30px;
}

.link_on_type {
    text-decoration: none;
}

.content_category_list {
    width: 270px;
    list-style: none;
    padding: 30px 0;
    border: 1px solid var(--middle_grey_color);
    border-radius: 3px;
    box-shadow: 0 0 10px 0 var(--light_grey_color);
    background-color: var(--white_color);
}

.link_on_category {
    text-decoration: none;
}

.content_category_list_item {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    background-color: var(--white_color);
    border-left: 1px solid var(--white_color);
    border-right: 1px solid var(--white_color);
    transition: background-color 0.3s linear, border 0.3s linear;
}

.box_category_title {
    width: calc(100% - 80px);
    font-size: 14px;
}

.box_category_quantity {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50px;
    height: 100%;
    font-weight: bold;
    color: var(--orange_color);
}

.content_category_list_item:hover {
    background-color: var(--grey_color);
    border-left: 1px solid var(--middle_grey_color);
    border-right: 1px solid var(--middle_grey_color);
    transition: background-color 0.3s linear, border 0.3s linear;
}

.box_category_icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    width: 30px;
    height: 100%;
}

.fa-bookmark {
    color: var(--orange_color);
}

.header_output {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.header_output_list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.header_output_list_item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2px 5px;
    border-radius: 10px;
    margin-left: 2px;
    margin-bottom: 2px;
    background-color: var(--white_color);
    font-size: 12px;
    border: 1px solid var(--middle_grey_color);
    box-shadow: 0 0 10px 0 #ddd;
    transition: background-color 0.5s linear;
}

.header_output_list_item:hover {
    background-color: var(--grey_color);
    transition: background-color 0.5s linear;
}

.fa-circle {
    font-size: 6px;
    color: var(--middle_grey_color);
    padding-right: 5px;
}

/* CARD */
/* Card */
.cards_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 95%;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card {
    cursor: pointer;
    width: 285px;
    height: 380px;
    border-radius: 3px;
    border: 1px solid var(--grey_color);
    box-shadow: 0 0 10px 0 var(--grey_color);
    transition: box-shadow 0.5s linear;
    margin: 10px;
    background-color: var(--white_color);
}

.card:hover {
    box-shadow: none;
    transition: box-shadow 0.5s linear;
}

.card_img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 180px;
    padding: 10px;
    border-bottom: 1px solid var(--grey_color);
}

.card_img img {
    width: 150px;
}

.card_title {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 10px;
}

.card_description {
    padding: 0 10px;
    height: 100px;
    font-size: 12px;
    color: var(--hard_grey_color);
    text-align: justify;
}

.card_data {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
}

.card_data__price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 50%;
    font-size: 24px;
    font-weight: bold;
    color: var(--orange_color);
}

.card_data__quantity {
    width: 50%;
    color: var(--middle_grey_color);
}

.title_quantity {
    font-size: 12px;
}

.content_filter_price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    list-style: none;
    padding-top: 30px;
    padding-bottom: 10px;
    border: 1px solid var(--middle_grey_color);
    border-radius: 3px;
    box-shadow: 0 0 10px 0 var(--light_grey_color);
    background-color: var(--white_color);
    margin-top: 10px;
}

.form_filter_price {
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.text_fields {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.btn_price {
    cursor: pointer;
    width: 100%;
    padding: 0.375rem 0.75rem;
    border-radius: 3px;
    border: 1px solid var(--grey_color);
    background-color: var(--blue_color);
    font-size: 1rem;
    color: var(--white_color);
}

.from, .to {
    width: calc((270px / 2) - 20px);
    padding: 0.375rem 0.75rem;
    border: 1px solid #eee;
    font-size: 1rem;
    border-radius: 3px;
}

.from {
    margin-right: 5px;
}

.to {
    margin-left: 5px;
}

.title_filter {
    padding: 0 20px;
}

.group_btn {
    width: 100%;
}
