@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,400&display=swap");

:root {
    --width_wrapper_form_added: 300px;
    --height_form_container_text: 70px;
    --hard_grey_color: #333;
    --light_grey_color: #ddd;
    --middle_grey_color: #ccc;
    --grey_color: #eee;
    --white_color: #fff;
    --blue_color: #007bff;
    --orange_color: rgb(252, 133, 7);
    --bg_color: #f1f3f9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #333;
}

body {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
}

.product_img {
    width: 300px;
    height: 300px;
}

.product_title {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 30px;
}

.product_title::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    margin-top: 10px;
    background-color: #eee;
}

.box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

span {
    font-size: 14px;
}

.title {
    font-size: 24px;
    padding-bottom: 10px;
    font-weight: 400;
}

.subtitle {
    padding-bottom: 10px;
    font-weight: 400;
}

.text {
    font-size: 12px;
    font-style: italic;
    padding-bottom: 10px;
}

.product_description {
    font-size: 14px;
    text-align: justify;
}

.product_description p {
    color: #333;
    font-style: italic;
    line-height: 1.5;
}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms .text {
    width: calc(100% - 100px);
    padding: 0.375rem 0.75rem;
    border-radius: 3px;
    border: 1px solid var(--grey_color);
    font-size: 1rem;
}

.forms form {
    padding: 5px 0;
}

.forms .btn {
    cursor: pointer;
    width: 100px;
    padding: 0.375rem 0.75rem;
    border-radius: 3px;
    border: 1px solid var(--grey_color);
    background-color: var(--blue_color);
    font-size: 1rem;
    margin-left: 5px;
    color: var(--white_color);
}

.product_title a {
    text-decoration: none;
}

.product_title span {
    color: #ccc;
}