* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f1f3f9;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
  text-align: center;
  font-size: 42px;
  padding-bottom: 20px;
}

.sign_in_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 250px;
  height: 250px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 #eee;
  background-color: #fff;
}

.text_field {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
}

.italic {
  font-style: italic;
}

.form_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn {
  cursor: pointer;
  width: 45%;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: background-color 0.5s linear;
}

.btn:hover {
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: background-color 0.5s linear;
}

.link {
  font-size: 12px;
  text-align: center;
  padding-top: 10px;
}

.link a {
  color: rgb(73, 69, 69);
}
