@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,400&display=swap");

:root {
    --white_color: #fff;
    --blue_color: #007bff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    height: 100%;
    padding-right: 10px;
    border-right: 1px solid #eee;
}

.person_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 10px;
}

.image {
    padding-right: 10px;
}

.image img{
    width: 200px;
    height: 200px;
}

.name {
    width: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.name h2 {
    text-align: center;
    width: 100%;
    font-size: 42px;
}

.name h4 {
    text-align: center;
    width: 100%;
    font-size: 32px;
    padding-bottom: 20px;
}

.name snap {
    font-size: 12px;
    font-style: italic;
    padding-bottom: 20px;
}

.name input {
    cursor: pointer;
    width: 100%;
    padding: 0.375rem 0.75rem;
    border-radius: 3px;
    border: 1px solid var(--grey_color);
    background-color: var(--blue_color);
    font-size: 1rem;
    color: var(--white_color);
}

.cart {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.form_update {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
}

.text_field {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #eee;
    font-size: 1rem;
    margin-bottom: 5px;
    border-radius: 3px;
}

.btn {
    cursor: pointer;
    width: 100%;
    padding: 0.375rem 0.75rem;
    border-radius: 3px;
    border: 1px solid var(--grey_color);
    background-color: var(--blue_color);
    font-size: 1rem;
    color: var(--white_color);
}

.icon_close {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 30px;
}

.fa-times {
    cursor: pointer;
    color: #333;
    transition: color .5s linear;
}

.fa-times:hover {
    color: #007bff;
    transition: color .5s linear;
}

.purchases {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: calc(100% - 300px);
}

.purchases_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
}

.purchases_container h2 {
    font-weight: 400;
    padding-left: 10px;
}

.purchases_container h2>span {
    color: #ccc;
}

.purchases_container h2>a {
    text-decoration: none;
    color: #333;
}

.list_purchase {
    list-style: none;
    border-top: 1px solid #eee;
    margin-top: 10px;
    padding: 10px 0;
}

a {
    color: #333;
}

.item_purchase {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.purchase_title {
    width: 150px;
    cursor: default;
    font-size: 12px;
}

.purchase_description {
    width: calc(100% - 600px);
    cursor: default;
    font-size: 12px;
    text-align: justify;
    padding: 0 10px;
}

.purchase_category {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-style: italic;
}

.purchase_type {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-style: italic;
}

.purchase_type a {
    text-align: center;
}

.purchase_price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 150px;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    color: var(--blue_color);
}

.list_purchase.not_purchases {
    width: 100%;
}