<!doctype html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Store</title>
        <base href="/"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
<div class="wrapper">
        <div class="header">
                <div class="header_logo"><a class="link_to_home" href="/">TechShop</a></div>
                <div class="header_search">
                        <form class="search_form" method="get" action="/search" style="width: 100%;">
                                <input class="search"
                                       id="search"
                                       type="text"
                                       name="search"
                                       placeholder="search" />
                                <button type="submit" class="btn_search">
                                        <i class="fas fa-search"></i>
                                </button>
                        </form>
                </div>
                <div class="header_icon_box">

                        <i class="fab fa-gratipay fa-2x"></i>

                        <a href="/basket/${user.id}">
                                <i class="fas fa-cart-plus fa-2x"></i>
                        </a>
                </div>
                <div class="header_registration">
                        <a href="/users/${user.id}" class="user">${user.email}</a>
                        <form action="/logout" method="post">
                                <input type="submit" class="btn_sign_in" id="btn_sign_in" value="Выйти">
                        </form>
                </div>
        </div>
        <div class="content">
                <div class="content_category" id="content_category">
                        <ul class="content_category_list">
                                <a class="link_on_category" href="/">
                                        <li class="content_category_list_item">
                                                <div class="box_category_icon">
                                                        <i class="fas fa-bookmark"></i>
                                                </div>
                                                <div class="box_category_title">
                                                        Все категории
                                                </div>
                                                <div class="box_category_quantity">
                                                        ${countAllProducts}
                                                </div>
                                        </li>
                                </a>
                                <#list categories as key1, value1>
                                        <a class="link_on_category" href="${value1}">
                                                <li class="content_category_list_item">
                                                        <div class="box_category_icon">
                                                                <i class="fas fa-bookmark"></i>
                                                        </div>
                                                        <div class="box_category_title">
                                                                ${key1}
                                                        </div>
                                                        <#list counts as key2, value2>
                                                                <#if key2 == key1>
                                                                        <div class="box_category_quantity">
                                                                                ${value2}
                                                                        </div>
                                                                </#if>
                                                        </#list>
                                                </li>
                                        </a>
                                </#list>
                        </ul>
                        <ul class="content_filter_price">
                                <li>
                                        <snap class="title_filter">Фильтр по цене:</snap>
                                        <form class="form_filter_price" method="get" action="/search_price">
                                                <div class="text_fields">
                                                        <input class="from" type="number" name="price" value="12000">
                                                        <input class="to" type="number" name="price2" value="49999">
                                                </div>
                                                <div class="group_btn">
                                                        <input class="btn_price" type="submit" value="Отфильтровать">
                                                </div>
                                        </form>
                                </li>
                        </ul>
                </div>
                <div class="content_output" id="content_output">
                        <div class="header_output">
                                <ul class="header_output_list">
                                        <#list types as key, value>
                                                <a href="${value}" class="link_on_type">
                                                        <li class="header_output_list_item">
                                                                <i class="fas fa-circle"></i>
                                                                ${key}
                                                        </li>
                                                </a>
                                        </#list>
                                </ul>
                        </div>
                        <div class="container_output">
                                <div class="cards_container">
                                        <div class="box">
                                                <#list goods as product>
                                                        <a href="${product.linkToCategory}${product.linkToType}/${product.id}" class="link_on_type">
                                                                <div class="card">
                                                                        <div class="card_img">
                                                                                <#if product.urlImage == "null" || product.urlImage == "" || product.urlImage == " ">
                                                                                        <img src="img/zastavk.jpg"  alt="${product.id}"/>
                                                                                <#else>
                                                                                        <img src="${product.urlImage}"  alt="${product.id}"/>
                                                                                </#if>
                                                                        </div>
                                                                        <div class="card_title">
                                                                                ${product.title}
                                                                        </div>
                                                                        <div class="card_description">
                                                                                ${product.descriptionPromo}
                                                                        </div>
                                                                        <div class="card_data">
                                                                                <div class="card_data__quantity">
                                                                                        <div class="title_quantity">В наличии:</div>
                                                                                        <div class="quantity">${product.quantity} шт.</div>
                                                                                </div>
                                                                                <div class="card_data__price">${product.price} &#8381;</div>
                                                                        </div>
                                                                </div>
                                                        </a>
                                                </#list>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="footer">

                </div>
        </div>
</div>
</body>
</html>